.circles-container {
  position: fixed;        /* кружки всегда на фоне */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
               /* ниже секций контента */
}

.circle {
  position: absolute;
  top: -120px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 90, 250, 0.7) 0%,
    rgba(233, 90, 255, 0.4) 50%,
    rgba(124, 50, 130, 0) 100%
  );
  opacity: 0.9;
}

.falling {
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-150px) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) scale(1);
    opacity: 0;
  }
}


