.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  padding: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
}
.title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #28a745;
  margin-bottom: 20px;
}
.input {
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  width: 266px;
  height: 41px;
  background-color: white;
  box-sizing: border-box;
}
.input:focus {
   outline: none;
    border-color: #28a745;
}
.btn {
  border-radius: 64px;
  padding: 8px;
  width: 266px;
  height: 38px;
  background-color: #28a745;
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #257238;
  transform: scale(1.05);
}

.passwordEye {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeButton img {
  width: 20px;
  height: 20px;
}

.error{
color: #dc3545;
font-size: 8px;
}
.errorInput {
    border: 1px solid #dc3545
    
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #6c757d !important;
  margin-top: 20px;
}
.navlink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
 color: #28a745 !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 408px;
  background-color: #e9ecef;
  border-radius: 32px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 522px;
    height: 408px;
  }
  .input {
    width: 458px;
    height: 41px;
  }
  .btn {
    width: 458px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 392px;
    height: 408px;
  }
  .input {
    width: 328px;
    height: 41px;
  }
  .btn {
    width: 328px;
    height: 38px;
  }
}
