/* src/index.css */

/* Сброс отступов и базовые размеры */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Чтобы текст и ссылки выглядели как у Bootstrap */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;  /* Argon работает со светлым фоном */
  color: #000;
}

